* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.selections {
  display: flex;
  justify-content: center;
}
.selection {
  background: none;
  border: none;
  color: #ffd43b;
  font-size: 5rem;
  outline: none;
  cursor: pointer;
  margin-top: 2.5rem;
  transition: 100ms;
}
.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  font-size: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.result-score {
  margin-left: 0.6rem;
  font-size: 1rem;
  color: #333;
}

.result-selection {
  opacity: 0.6;
}
.result-selection.winner {
  opacity: 2.5;
  font-size: 4rem;
  color: #f59f00;
}
